.comment-container {
  background-color: $white;
  padding:24px;
  margin-bottom: 64px;

  .comment-index{
    .comment-body {
      margin-bottom: 30px;
      overflow-wrap : break-word;
    }
    .user-icon {
      height: 80px;
      width: 80px;
      background-color: $yellow;
      float: left;
      border-radius: 40px;
      margin-bottom: 5px;
    }
    .user-name {
      padding-left: 80px;
      margin: 0 0 6px 10px;
      a {
        text-decoration: none;
        font-size: 14px;
        color:$gray;
      }
      .delete-btn{
        a {
          color: $white;
        }
      }
    }
    .user-comment {
      position: relative;
      display: inline-block;
      padding: 25px;
      min-height: 80px;
      width:560px;
      border-radius: 8px;
      box-sizing: border-box;
      p {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 1.5em;
      }
      .comment_text_bord {
        text-align: justify;
      }
    }
    .user-comment.left {
      background: $blue-c;
      float: right;
    }
    .user-comment.left:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 22px;
      left: -23px;
      border: 8px solid transparent;
      border-right: 22px solid $blue-c;
      -ms-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
    }
    .user-comment.right {
      background-color: $yellow;
      float: left;
    }
    .user-name-right {
      text-align: right;
      padding-right: 95px;
      margin-bottom: 6px;
      a {
        text-decoration: none;
        font-size: 14px;
        color:$gray;
      }
      .delete-btn{
        a {
          color: $white;
        }
      }
    }
    .user-icon-right {
      float: right;
      height: 80px;
      width: 80px;
      border-radius: 40px;
    }
    .user-comment.right:before{
      content: "";
      display: inline-block;
      position: absolute;
      top: 22px;
      right: -23px;
      border: 8px solid transparent;
      border-right: 22px solid $yellow;
      -ms-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      transform: rotate(150deg);
    }
  }
  .comment-form {
    p{
      background-color:$yellow;
      padding: 8px;
    }
    .comment_image {
      display: none;
    }
  }
  .comment_image_bord {
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: left;
    border-radius: 4px;
  }
  .video_bord {
    width: 350px;
    height: 250px;

  }
  .textarea-default {
    border: 1px solid $gray-light;
    min-height: 100px;
    margin: 8px 0 0;
    padding:10px;
    overflow: auto;
    resize: vertical;
    width: calc(700px - 68px);
  }
  .comment-btn{
    display: block;
    position: relative;
  }
  .icon {
    font-size: 40px;
    color: $white;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: $red;
    line-height: 50px;
    text-align: center;
    margin: 8px 0px 0 4px;
  }
  .fukidashi {
    display: none;
    position: absolute;
    font-size: 18px;
    left: -160px;
    bottom: 40px;
    border-radius: 10px;
    background-color: $red;
    color: $white;
    font-weight: bold;
    padding: 14px;
    }
  .fukidashi:after {
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    display: inline-block;
    top: 32px;
    right: -23px;
    border: 8px solid transparent;
    border-right: 22px solid $red;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(200deg);
  }
  .comment_image:hover + .fukidashi {
    display: block;
  }
  .video-icon {
    font-size: 40px;
    color: $red;
    border: 2px solid $red;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: $white;
    line-height: 50px;
    text-align: center;
    margin: 8px 0px 0 4px;
    box-sizing: border-box;
  }
  .fukidashi2 {
    display: none;
    position: absolute;
    font-size: 18px;
    left: -20px;
    bottom: 60px;
    border-radius: 10px;
    background-color: $red;
    color: $white;
    font-weight: bold;
    padding: 14px;
    }
  .fukidashi2:after {
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    display: inline-block;
    top: 46px;
    right: -17px;
    border: 8px solid transparent;
    border-right: 25px solid $red;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(230deg);
  }
  .video:hover + .fukidashi2 {
    display: block;
  }
  .comment-submit{
    width: 400px;
    margin: 8px 25px 0 0;
    font-size: 20px;
    float:right;
    text-align: center;
    border-radius: 10px;
  }
}