.search {
  position: relative;
}

.search-items {
  height: calc(100vh - 100px);
  width: 100vw;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  .search-item-card-square{
    background-color: gray;
    box-sizing:border-box;
    // float: left;
    height: calc(( 100vh - 100px ) / 3);
    position: relative;
    width: calc(100vw / 6);
    &:hover{
      .item-img{
        object-fit: cover;
        opacity: 0.8;
        transition:0.3s;
        transform: scale(-1, 1);
      }
      .item-info-box{
        visibility:visible;
      }
    }
    .item-img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .item-info-box{
      background-color: rgba($white, 0.5);
      box-sizing:border-box;
      color:$gray-dark;
      height: 100%;
      padding: 40% 5% 0;
      position: absolute;
      top: 0;
      left: 0;
      visibility:hidden;
      width: 100%;
      .item-name{
        box-sizing:border-box;
        font-size: 22px;
        font-weight: bold;
        height: 60%;
        line-height: 1.2;
        overflow: hidden;
        width: 90%;
      }
      .item-info{
        font-size: 26px;
        font-weight: bold;
        &__price{
          float: left;
        }
        &__like{
          float: right;
        }
      }
      .item-tax{
        font-size: 10px;
        padding-left: 15px;
      }
    }
  }
}
.search-form {
  position: relative;
  .input-default {
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid $gray-light;
    width: 100%;
    height: 30px;
    padding: 0 0 0 20px;
    font-size: 14px;
  }
  .material-icons {
    font-size: 25px;
    position: absolute;
    top: 4px;
    right: 10px;
  }
}
.search-show {
  border: 1px solid #aaa;
  position: absolute;
  margin: 100px 300px;
}

.item-show-card {
  height: 500px;
  width: 500px;
  background-color: $gray-light;
}

.item-search-show {
  cursor: pointer;
}

.icon-close {
  cursor: pointer;
}


#scrollbar::-webkit-scrollbar{
  overflow:hidden;
  width: 0px;
  background:#eee;
  -webkit-border-radius:3px;
  border-radius:3px;
}
#scrollbar::-webkit-scrollbar:horizontal{
  height:0px;
}
#scrollbar::-webkit-scrollbar-button{
  display:none;
}
#scrollbar::-webkit-scrollbar-piece{
  background:#eee;
}
#scrollbar::-webkit-scrollbar-piece:start{
  background:#eee;
}
#scrollbar::-webkit-scrollbar-thumb{
  // overflow:hidden;
  // -webkit-border-radius:3px;
  // border-radius:3px;
  background:#333;
}

.hit-icon {
  z-index: 100000;
  position: absolute;
  top: -60px;
  left: -80px;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 0 5px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  background: $red;
  border-radius: 50%;
  box-sizing: border-box;
}

.hit-icon:before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: -8px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid $red;
  z-index: 0;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
