.search {
  position: relative;
}
.search-index-right {
  position: relative;
  border-radius: 3px;
  max-height: 700px;
  width: 800px;
  .items {
    width: 800px;
  }
  .page-arrow{
    color:$gray;
    line-height: 1;
    text-decoration: none;
  }
  .left-arrow{
    position:absolute;
    top: 40px;
    left:-60px;
  }
  .right-arrow{
    position:absolute;
    top: 40px;
    right:-60px;
  }
  .page-arrow-a{
    color:$gray;
    line-height: 1;
    text-decoration: none;
  }
  .left-arrow-a{
    position:absolute;
    top: 40px;
    left:-200px;
  }
  .right-arrow-a{
    position:absolute;
    top: 40px;
    right:-200px;
  }
}
.search-form {
  position: relative;
  .input-default {
    width: calc(100% - 20px);
    height: 45px;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid $gray-light;
  }
  .material-icons {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    line-height: 47px;
    text-align: center;
  }
}
.search-show {
  border: 1px solid #aaa;
  position: absolute;
  margin: 100px 300px;
}

.item-show-card {
  height: 500px;
  width: 500px;
  background-color: $gray-light;
}

.item-search-show {
  cursor: pointer;
}

.icon-close {
  cursor: pointer;
}


#scrollbar::-webkit-scrollbar{
  overflow:hidden;
  width:7px;
  background:#eee;
  -webkit-border-radius:3px;
  border-radius:3px;
}
#scrollbar::-webkit-scrollbar:horizontal{
  height:0px;
}
#scrollbar::-webkit-scrollbar-button{
  display:none;
}
#scrollbar::-webkit-scrollbar-piece{
  background:#eee;
}
#scrollbar::-webkit-scrollbar-piece:start{
  background:#eee;
}
#scrollbar::-webkit-scrollbar-thumb{
  overflow:hidden;
  -webkit-border-radius:3px;
  border-radius:3px;
  background:#333;
}
