.search-form {
  position: relative;
  .input-default {
    width: calc(100% - 20px);
    height: 45px;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid $gray-light;
  }
  .material-icons {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    line-height: 47px;
    text-align: center;
  }
}

