.brand-tag-box{
  background-color: $white;
  border-radius: 3px;
  min-height: 800px;
  width: 800px;
  .title-box{
    background-color: $red;
    border-radius: 3px;
    box-sizing: border-box;
    height: 55px;
    text-align: center;
    position: relative;
    width: 100%;
    .title-1st{
      color: $white;
      font-size: 24px;
      font-weight: bold;
      line-height: 55px;
    }
  }
  .tag-lists{
    background-color: #white;
    box-sizing:border-box;
    color: $gray-dark;
    font-size: 16px;
    margin-top: 30px;
    padding: 0 20px 40px;
    .tag-lists{
      &__list{
        box-sizing: border-box;
        float: left;
        padding: 0 0 15px 15px;
        width: 250px;
        a{
          color:$blue;
          text-decoration: none;
        }
      }
    }
  }
}


