.brands-show-contents-wrapper{
  box-sizing: border-box;
  margin: auto;
  padding-top: 45px;
  width: 1000px;
}
.items-index-main{
  h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-left: 10px;
  }
  a{
    text-decoration: none;
  }
  .items{
    width: 1000px;
  }
}
.items-index-sub{
  background-color: $white;
  border-radius: 3px;
  height: 180px;
  margin: 80px 10px;
  width: 980px;
  .title{
    background-color: $red;
    border-radius: 3px;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    height:55px;
    line-height: 55px;
    text-align: center;
  }
  .body{
    box-sizing:border-box;
    color: $gray-dark;
    line-height: 1.5;
    padding: 30px;
    text-align: justify;
  }
}
