.brands-show-contents-wrapper{
  box-sizing: border-box;
  margin: auto;
  padding-top: 45px;
  width: 1000px;
}
.items-index-main{
  h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-left: 10px;
  }
  a{
    text-decoration: none;
  }
  .items{
    width: 1000px;
  }
}
