.bg-gray{
  background-color: $gray-bg;
}
.bg-facebook{
  background-color: #3b5998;
}
.bg-twitter{
  background-color: #4fd5f8;
}
.bg-pinterest{
  background-color: #aa262a;;
}
.box-shadow{
  box-shadow: 0 2px 2px 1px $gray-light inset;
}
.header-shadow{
  box-shadow: 0 2px 2px 1px $gray-light;
}
.red{
  color: $red;
}
