.items-index-main
  %form{class: "search-form"}
    %input{class: "search__query input-default bold", type: "text", name: "keyword", placeholder: "検索したいキーワードを入力してください"}
    %i.material-icons search

  %h2.search-result-head

  .items.clearfix
    #items
      = render 'item'
  #paginator
    = render 'paginator'
