.main-header {
  background: $white;
  height: 55px;
  position: relative;
  z-index: 1001;
  .main-header-inner {
    margin: 0 auto;
    width: 1000px;
  }
  .header-logo{
    float: left;
    text-decoration: none;
    img{
      height: 50px;
      padding-top: 3px;
    }
  }
  .header-nav {
    float: right;
    height: 55px;
    margin-right: 20px;
    :hover {
        color: #0099e8;
      }
    .header-nav-root {
      display: inline-block;
      float: left;
      position: relative;
      :hover {
        color: #0099e8;
      }
      &__link{
        color: $gray-dark;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        line-height: 55px;
        padding-right: 20px;
        text-decoration: none;
      }
    }
  }
  .header-nav-parent-wrap{
    background: rgba($white,0.8);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
    box-sizing:border-box;
    display: none;
    padding: 15px 0;
    position: absolute;
    top: 45px;
    left: 0;
    width: 180px;
    z-index: 1000;
    .header-nav-parent{
      :hover {
        background-color: $red;
        color: $white;
      }
      &__list {
        color: $gray-dark;
        display: block;
        font-size: 14px;
        font-weight: bold;
        line-height: 2;
        overflow: hidden;
        padding: 0 15px;
        text-overflow: ellipsis;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }
  .header-user-nav {
    float: right;
    font-size: 14px;
    color: $gray-dark;
    li{
      display: inline-block;
    }
    .header-btn {
      background: $white;
      border-radius: 4px;
      display: block;
      float: left;
      height: 30px;
      padding: 0 10px;
      line-height: 30px;
      margin: 12px 0 0 10px;
      text-align: center;
      text-decoration: none;
    }
    .header-signup {
      border: 1px solid $blue;
      color: $blue;
      &:hover {
        background: $blue;
        color: $white;
      }
    }
    .header-sign {
      border: 1px solid $red;
      color: $red;
      &:hover {
        background: $red;
        color: $white;
      }
    }
    .header-signout{
      float: right;
    }
    .mypage-link{
      text-decoration: none;
    }
    .mypage{
      float: right;
      height: 55px;
      width: 120px;
      .header-avater {
        border-radius: 50%;
        float: left;
        height: 32px;
        margin: 11px 5px 0 0;
        object-fit: cover;
        width: 32px;
      }
      .title{
        color: $gray-dark;
        display: inline-block;
        float: left;
        font-weight: bold;
        font-size: 14px;
        line-height: 55px;
      }
    }
  }
}
