%footer.single-footer
  %nav
    %ul.clearfix
      %li
        %a プライバシーポリシー
      %li
        %a メルカリ利用規約
      %li
        %a 特定商取引に関する表記
  %a.single-footer-logo
    = image_tag("logo-gray.svg", class: "logo-gray-image btn-hover-op07")
  %p.small ©️2018 Mericari
