.items.clearfix
  - @items05.each do |item|
    = render partial: 'shared/item-square200', locals: {item: item}
  = link_to_next_page @items05, next_icon, class: "page-arrow left-arrow", remote: true, :params => {:view_num => 5}
  = link_to_prev_page @items05, prev_icon, class: "page-arrow right-arrow", remote: true, :params => {:view_num => 5}
