.items.clearfix
  - @items04.each do |item|
    = render partial: 'shared/item-square200', locals: {item: item}
  = link_to_prev_page @items04, next_icon, class: "page-arrow left-arrow", remote: true, :params => {:view_num => 4}
  = link_to_next_page @items04, prev_icon, class: "page-arrow right-arrow", remote: true, :params => {:view_num => 4}
