.pre-wrapper
  .presents-slider
    .div
      .contents
        %p#title
          team
          %span D
    .div
      .contents-name
        .name-box
          %p.name Koshiro Maeno
          %p.name Kumiko Masaki
          %p.name Yuri Kawahara
          %p.name Naoki Higashio
    .div
      .contents-project
        .name-box
          %p.sub-title project
          = link_to root_path, class: "main-title" do
            mercari
