= render 'shared/single_header'
.container
  .create-container-wrapper
    .title
      会員登録が完了しました。
    .social-box
      = link_to "トップにもどる", root_path, class: "signup-btn google-plus-btn"
= render 'shared/single_footer'
