.l-single {
  &-container {
    width: 700px;
    margin: 0 auto;
    background: $white;
  }
  &-head {
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }
}
.sell {
  &-form {
    border-top: 1px solid $gray-line;
    &-box {
      float: right;
      width: 400px;
      margin: 0;
    }
  }
  &-upload {
    &-box {
      height: 275px;
      width: 620px;
      padding: 40px;
    }
    &-head {
      font-size: 16px;
      +p {
        margin: 8px 0 0;
        line-height: 1.5;
      }
    }
    &-items {
      float: left;
      display: block;
      ul {
        display: block;
      }
    }
    &-drop-box {
      float: right;
      width: 620px;
      margin: 0;
      min-height: 184px;
      flex: 1;
      position: relative;
      background: $gray-bg;
      border: 1px dashed $gray-light;
      font-size: 0;
      text-align: center;
      pre {
        position: absolute;
        top: 45%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
  &-dropbox-container {
    display: block;
    width: 620px;
    margin: 16px auto 0;
  }
  &-content {
    padding: 40px;
    border-top: 1px solid $gray-line;
  }
  &-sub-head {
    float: left;
    color: #888;
    font-size: 14px;
  }
  &-price {
    margin: 0;
    padding: 0;
    li {
      padding: 24px 0;
      border-top: 1px solid $gray-light;
    }
    li:first-child {
      padding: 0 0 24px;
      border: 0;
    }
    .form-group.l-left {
      width: 50%;
      line-height: 48px;
    }
    .bold {
      font-size: 16px;
    }
    &-input {
      div {
        display: inline-block;
        width: 80%;
        margin: 0 0 0 5%;
      }
      .input-default {
        width: 100%;
        margin: 0;
        text-align: right;
      }
    }
  }
  &-btn {
    &-box {
      p {
        line-height: 1.5;
        .link {
          color: $blue;
        }
        .link:hover {
          color: #00cce8;
        }
      }
      .btn-red {
        margin: 40px 0 0;
      }
      .btn-gray {
        width: 45%;
        margin: 24px auto 0;
      }
    }
  }
}
.form {
  &-group {
    margin: 40px 0 0;
    label {
      font-weight: 600;
      display: inline-block;
      +.textarea-default {
        margin: 8px 0 0;
      }
    }
    .select {
      &-wrap {
        margin: 8px 0 0;
        position: relative;
        background: $white;
        .icon-bottom {
          position: absolute;
          right: 16px;
          top: 50%;
          z-index: 2;
          color: $gray;
          font-size: 8px;
          transform: translate(0, -50%);
        }
      }
    }
    select {
      width: 100%;
      -webkit-appearance: none;
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid $gray-light;
      background: 0;
      font-size: 16px;
      cursor: pointer;
    }
  }
  &-question {
    text-decoration: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $blue;
    color: $white;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
  }
}
.form-group:first-child {
  margin: 0;
}

.input-field{
  background: $white;
  border-radius: 4px;
  border: 1px solid $gray-light;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 16px 8px;
  margin-top: 10px;
  width: calc(620px - 32px);
}

.text-field-height{
  height: 30px;
}

.text-area-height{
  min-height: 104px;
}
