.top-main-visual{
  background-image: image-url("main_bg_pc.jpg");
  height: 390px;
  width: 100vw;
  .top-main-visual-inner{
    height: 390px;
    margin: 0 auto;
    position: relative;
    width: 850px;
  }
  .top-main-visual-content {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    h2 {
      font-size: 60px;
      font-weight: bold;
      line-height: 1.2;
    }
    p {
      margin: 16px 0 30px;
      font-size: 18px;
      line-height: 1.8;
    }
    .app-image{
      float: left;
      height: 50px;
      margin-right: 10px;
      width: 170px;
    }
  }
  .main_content_pc{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}
