// ヘッダー部分
.single-container {
    padding: 0 0 220px;
    box-sizing: border-box;
    padding: 0;
}

.single-header {
    height: 128px;
    text-align: center;
}
h1{
    margin: 40px 0 0;
    display: inline-block;
}


// フッター部分
.single-footer{
	width: 456px;
    margin: 0 auto;
    z-index: 1;
    padding: 40px 0;
    text-align: center;

    ul{
    font-size: 0;
    list-style: none;
    display: block;
    }
    li{
    font-size: 12px;
    display: inline-block;
    margin: 0 16px 0 0;
    }
    li.first-child {
    margin: 0;
    }
    a{
    display: block;
    color: #333;
    text-decoration: none;
    }
}

.single-footer-logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
}