.items-index-sub
  .title
    テーラードジャケット（レディース）
  .body
    テーラードジャケット(レディース)の着ない服、いらない洋服を売るならメルカリへ。テーラードジャケットはジャケット/アウターの下にあるカテゴリで商品は10万点以上あります。特に人気の商品は「アルゴンキン ジャケット」や「Vintage saint laulent チェックジャケット」や「ジャケット」があります。テーラードジャケットの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。
