= render 'shared/single_header'
%main.single-main
  %section.l-single-container.buy-item-container
    %div{id: "sell-container"}
      .sell-container-inner
        %h2.l-single-head.bold
          商品の情報を編集
        = render 'form'
= render 'shared/single_footer'
