= render 'shared/single_header'
.container.bg-gray
  .sell-records-contents-wrapper
    .contents
      .header
        お買い上げありがとうございます！！
      = link_to 'ホーム画面にもどる', root_path, class: "btn"
= render 'shared/single_footer'
