.tags-header
  %h1 ブランド一覧
  %ul.tag-1st-lists.clearfix
    - @genres.each do |genre|
      %li.tag-1st-lists__list
        = link_to genre.name, "#"
  .brands-genre-select-box
    %p.brands-genre-select-box__title ブランドをジャンルで絞り込む
    = form_tag brands_path, method: :get do
      = select_tag :genre_id, options_from_collection_for_select(Genre.all, :id, :name, params[:genre_id]),{ prompt: 'ジャンルで絞り込む',onchange: 'submit(this.form)'}
