= render 'shared/header'
.container.bg-gray
  .brands-index-contents-wrapper
    / = render 'brands/index-tags'
    = render 'brands/index-brand-list'
= render 'shared/app-banner'
= render 'shared/footer'
