.category-tag-box
  .title-1st
    レディース
  .tag-lists
    = link_to "すべて", "#", class: "link-all"
    - 4.times do
      .tag-3rd-box
        .title-2nd
          トップス
        %ul.tag-3rd-lists.clearfix
          - 16.times do
            %li.tag-3rd-lists__list
              = link_to "Tシャツ/カットソー", "#"
