.items-index-main
  %h2 #{@category.name}の商品一覧
  .items.clearfix
    - @items.each do |item|
      = render partial: 'shared/item-square-200', locals: {item: item}
  .paginate-box.clearfix
    = paginate @items
