.users-show-contents-wrapper{
  background-color: $white;
  box-sizing: border-box;
  margin: auto ;
  padding-bottom: 60px;
  width: 1000px;
}
.user-show-header{
  height: 200px;
  position: relative;
  width: 1000px;
  .background-img{
    width:1000px;
    height:200px;
    object-fit: cover;
  }
  .avatar-img{
    border:5px solid $white;
    border-radius: 100px;
    height:180px;
    object-fit: cover;
    position: absolute;
    bottom: -90px;
    left: 100px;
    width:180px;
  }
  h2{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    bottom: -50px;
    left: 330px;
  }
}
.users-show-main{
  margin-top: 120px;
  width: 1000px;
  a{
    text-decoration: none;
  }
  .users-show-items{
    width: 1000px;
  }
}
.users-show-item-card{
  box-sizing:border-box;
  float: left;
  height: 200px;
  position: relative;
  width: 200px;
  &:hover{
    .item-img{
      object-fit: none;
      opacity: 0.8;
      transition:0.3s;
      transform: scale(-1, 1);
    }
    .item-info-box{
      visibility:visible;
    }
  }
  .item-img{
    width:200px;
    height:200px;
    object-fit: cover;
  }
  .item-info-box{
    background-color: rgba($white, 0.5);
    box-sizing:border-box;
    color:$gray-dark;
    height: 200px;
    padding-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    visibility:hidden;
    width: 200px;
    .item-name{
      box-sizing:border-box;
      font-weight: bold;
      height: 55px;
      line-height: 1.5;
      overflow: hidden;
      padding: 10px 15px 10px 15px;
      width: 200px;
    }
    .item-info{
      padding: 0 15px;
      &__price{
        float: left;
      }
      &__like{
        float: right;
      }
    }
    .item-tax{
      font-size: 10px;
      padding-left: 15px;
    }
  }
}
.user-paginate-box{
  box-sizing:border-box;
  margin-top: 60px;
  padding: 0 30px;
  .pagination{
    text-align: center;
    a{
      color: $gray;
      display: block;
      text-decoration: none;
    }
    .page{
      background-color:$white;
      border: 1px solid $gray-dark;
      border-radius: 4px;
      box-sizing:border-box;
      color: $gray-dark;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      text-align: center;
      width: 40px;
    }
    .first, .prev, .next, .last{
      background-color:$white;
      border: 1px solid $gray-dark;
      border-radius: 4px;
      box-sizing:border-box;
      color: $gray-dark;
      display: inline-block;
      font-size: 30px;
      height: 40px;
      line-height: 35px;
      text-align: center;
      width: 40px;
    }
    .first, .prev,{
      float: left;
      margin-right: 3px;
    }
    .next, .last{
      float: right;
      margin-left: 3px;
    }
    .current{
      background-color: $red;
      color: $white;
    }
  }
}
