.dashboards-show-box{
  background-color: $white;
  border-radius: 3px;
  min-height: 800px;
  width: 800px;
}
.dashboards-header{
  height: 180px;
  margin-bottom: 120px;
  position: relative;
  width: 800px;
  .background-img{
    width:800px;
    height:180px;
    object-fit: cover;
  }
  .avatar-img{
    border: 5px solid $white;
    border-radius: 100px;
    height:150px;
    margin-top: 40px;
    object-fit: cover;
    position: absolute;
    left: 50px;
    bottom: -75px;
    width:150px;
  }
  .info-nickname{
    color: $gray-dark;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 225px;
    bottom: -44px;
  }
}
.user-items-lists{
  table{
    color: $gray-dark;
    width: 800px;
    a{
      color: $gray-dark;
      text-decoration: none;
    }
  }
  table, th, td {
    border-collapse: collapse;
    line-height: 45px;
    overflow: hidden;
    white-space: nowrap;
  }
  tr{
    height: 45px;
  }
  th {
    font-weight: bold;
    vertical-align: top;
    background: #3f3f3f;
    color: $white;
  }
  td {
    border-bottom: 1px solid #ccc;
    vertical-align: top;
  }
  tr:nth-child(even) {
    background: #d9d9d9;
  }
  .text-center{
    text-align: center;
  }
  .w8{
    width: 10%;
  }
  .wm{
    width: 10%;
  }
  .wl{
    width: 40%;
  }
}
