@mixin clearfix {
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}
@mixin link-btn {
  display: block;
  text-align: center;
  text-decoration: none;
}
@mixin item-card{
  .item{
    background: $white;
    float: left;
    height: 333px;
    margin: 0 10px 20px 10px;
    width: 213px;
    &__img{
      width:213px;
      height:213px;
      object-fit: cover;
    }
    &__name{
      line-height: 1.5;
      overflow: hidden;
      padding: 10px 15px 10px 15px;
    }
    &__info{
      padding: 0 15px;
      &--price{
        float: left;
      }
      &--like{
        float: right;
        .fa{
          color: $gray-light;
        }
      }
    }
    &__tax{
      color:$gray-dark;
      font-size: 10px;
      padding-left: 15px;
    }
  }
}
